// Body
//
// No styleguide reference.
body {
  color: $color-text;
  background-color: $color-background;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

::selection {
  background-color: rgba($color-primary-lighter, 0.5);
}

// Headings
//
// No styleguide reference.
h1, h2, h3,
.h1, .h2, .h3 {
  font-family: $font-family-display;
  line-height: 1.1;
  margin-top: $base-line-height * 1rem;
  margin-bottom: $base-line-height * 1.25rem;
}

h1,
.h1 {
  font-size: $font-size-h2;
  font-weight: 900;
  @include media($mid) {
    font-size: $font-size-h1;
  }
}

h2,
.h2 {
  font-size: $font-size-h3;
  font-weight: 700;
  letter-spacing: -0.0133em;
  @include media($mid) {
    font-size: $font-size-h2;
  }
}

h3,
.h3 {
  font-size: $font-size-h4;
  font-weight: 700;
  @include media($mid) {
    font-size: $font-size-h3;
  }
}

h4, h5, h6,
.h4, .h5, .h6 {
  font-size: modular-scale($base-font-size, -2, $base-ratio);
  margin-top: $base-line-height * 1rem;
  margin-bottom: $base-line-height * 1.25rem;
  @include media($mid) {
    font-size: $font-size-h4;
  }
}


// Anchors
//
// Markup:
// <a href="#">Emily Carr University</a>
// <a href="#"><p>Example content large target area. <span class="a-faux">Read more…</span></p></a>
//
// :focus  - lighten the link when focusing with the keyboard
// :hover  - lighten the link when hovering with a pointer
// :active - darken the link once it’s been pressed
//
// No styleguide reference.
a,
a:visited,
.a-faux {
  text-decoration: none;
  color: $color-primary;
  transition: opacity 0.125s ease-in-out, color 0.125s ease-in-out, background-color 0.125s ease-in-out, border-color 0.125s ease-in-out;
  &:hover {
    color: $color-primary-dark;
  }
  &:focus {
    color: darken($color-primary-dark, 15%);
    transition-duration: 0;
    // box-shadow: 0 0 0 1px $color-primary-dark;
    outline: 0;
    border-radius: $base-border-radius;
  }
  &:active {
    color: $color-primary-darker;
  }
}

// Lists
//
// Numbered, bullited, and definition lists are styled normally and
// in a more pleasing manner for long form reading within articles.
//
// Markup:
// <article>
//   <ul>
//     <li>Emily Carr University
//       <ol>
//         <li>North Building</li>
//         <li>South Building</li>
//       </ol>
//     </li>
//     <li>Library</li>
//     <li>Charles H. Scott</li>
//     <li>Concourse Gallery</li>
//   </ul>
//   <ol>
//     <li>Emily Carr University
//       <ul>
//         <li>North Building</li>
//         <li>South Building</li>
//       </ul>
//     </li>
//     <li>Library</li>
//     <li>Charles H. Scott</li>
//     <li>Concourse Gallery</li>
//   </ol>
// </article>
//
// No styleguide reference.
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

article {
  ul,
  ol,
  dl {
    padding-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 0;
    @include media($mid) {
      margin-left: 4em;
      margin-right: 4em;
    }
    ul,
    ol,
    dl {
      margin-top: 0.25em;
      margin-left: 2em;
    }
  }
  ul > li {
    list-style-type: disc;
  }
  ol > li {
    list-style-type: decimal;
  }
}

// Media
//
// No styleguide reference.
figcaption {
  font-style: italic;
  font-size: $font-size-small;
  &:before {
    color: $color-grey;
    font-style: normal;
    font-feature-settings: "kern", "smcp", "c2sc", "liga", "pnum", "onum";
  }
}

// Paragraphs
//
// No styleguide reference
p {
  margin: 0 0 $base-line-height * 0.5em 0;
}

// Small
//
// No styleguide reference.
small {
  font-size: 1em;
  font-style: italic;
}

// Blockquote
//
// <blockquote>
//   <p>However long you think something is going to take you, multiply that by five.</p>
//   <p><strong>Author <a href="#">Source</a></strong>
// </blockquote>
//
// No styleguide reference.
blockquote {
  font-family: $base-font-family;
  font-style: italic;
  margin: 0;
  padding: 0;
  p:last-child:not(:only-child),
  footer {
    strong:only-child {
      font-style: normal;
      font-weight: 600;
      font-family: $font-family-sans;
      display: block;
      &:before {
        content: "\2014";
      }
      a {
        &:before {
          content: "\2014";
          font-size: 1em;
          color: transparent;
          user-select: none;
        }
        display: block;
        font-weight: 400;
      }
    }
    @include media($mid) {
      @include span-columns(2);
    }
    @include media($wide) {
      @include shift(1 of 7);
      @include omega(1n);
    }
  }
  @include media($mid) {
    // Want this to be 3 of 5
    @include span-columns(4 of 5);
    @include shift(1 of 5);
  }
  @include media($wide) {
    // Want this to be 5 of 7
    @include span-columns(6 of 7);
    @include shift(1 of 7);
  }
  ul,
  ol {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-left: 0;
  }
}

pre {
  font-size: 90%;
  code,
  kbd {
    font-family: "Monaco", monospace, monospace;
    background: $color-grey-dark;
    display: block;
    color: $color-grey-lighter;
    padding: modular-scale($base-font-size, -2, $base-ratio);
    border-radius: $base-border-radius;
  }
}

img {
  max-width: 100%;
}

hr {
  width: 100% / 3;
  margin-top: $base-line-height * 1.9em;
  margin-bottom: $base-line-height * 2.1em;
  height: 0px;
  border: none;
  border-bottom: 1px solid $color-grey;
  @include media($wide) {
    width: (100% / 7) * 3;
  }
}
