//- Embrace FOUT for now I guess

.wf-loading {
  // display: none;
  // visibility: hidden;
}

.wf-active,
.wf-inactive {
  display: block;
  visibility: visible;
}

.break {
  display: inline-block;
  @include media($mid) {
    display: inline;
  }
}
