@font-face {
  font-family: "Cordale";
  src: url("../fonts/cordale-regular.woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Cordale";
  src: url("../fonts/cordale-italic.woff");
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Cordale";
  src: url("../fonts/cordale-bold.woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Cordale";
  src: url("../fonts/cordale-bolditalic.woff");
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}
