@font-face {
  font-family: "Cordale";
  src: url("../fonts/cordale-regular.woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Cordale";
  src: url("../fonts/cordale-italic.woff");
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Cordale";
  src: url("../fonts/cordale-bold.woff");
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Cordale";
  src: url("../fonts/cordale-bolditalic.woff");
  font-style: italic;
  font-weight: 600;
  font-stretch: normal;
}

@font-face {
  font-family: "Mission Gothic";
  src: url("../fonts/missiongothic-n4.woff");
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Mission Gothic";
  src: url("../fonts/missiongothic-i4.woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Mission Gothic";
  src: url("../fonts/missiongothic-n7.woff");
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Mission Gothic";
  src: url("../fonts/missiongothic-n7.woff");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Mission Gothic";
  src: url("../fonts/missiongothic-n9.woff");
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: "Mission Gothic";
  src: url("../fonts/missiongothic-n9.woff");
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
}
