script.
  WebFontConfig = {
    timeout: 1500,
    // typekit: {
    //   id: '#{ service.typekit }'
    // },
    custom: {
        families: ['Cordale:n4,i4,n6'],
        urls: ['/css/fonts.css']
      }
  };
script(async defer src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js").
