//- This should be way better
script.
  WebFontConfig = {
    timeout: 1500,
    typekit: {
      id: '#{ service.typekit }'
    }
  };
script(async defer src="//ajax.googleapis.com/ajax/libs/webfont/1.5.3/webfont.js").
