
footer.footer
  .footer-block
    h4 First Hand
    ul.article-list
      i = 3
      for article, slug in public._data
        - i = i - 1
        unless article.published === false
          li.article-item
            a(href="/#{ slug }")!= article.title
            if i === 0
              - break
    ul.article-list
      li: a(href="/") Home
      li: a(href="/about") About #{ name }

  .footer-block
    include ../colophon.md
    h4 Contributors
    small Copyright © 2014 <a href="/about">First Hand’s authors, respectively</a>. Designed by <a href="http://kennethormandy.com">Kenneth Ormandy</a>. Code <a href="https://github.com/kennethormandy/askfirsthand.com">available</a> under the <a href="/LICENSE"><abbr>MIT</abbr> License</a>.</small>
  .footer-block.footer-block--wide
    h4 Subscribe to <cite>First Hand</cite>
    include subscribe
        
