// Article
//
// Markup:
// <article class="article">
//   <h1 class="article-title">Hello, world</h1>
//   <p>I am by birth a Genevese; and my family is one of the most distinguished of that republic. My ancestors had been for many years counsellors and syndics; and my father had filled several public situations with honour and reputation.</p>
//   <p>He was respected by all who knew him for his integrity and indefatigable attention to public business. He passed his younger days perpetually occupied by the affairs of his country.</p>
// </article>
//
// No styleguide reference.
.article {
  p:first-of-type {
    font-size: $font-size-h4;
  }
  .epigraph {
    font-size: $base-font-size;
  }
}

.article-title {
  line-height: 0.9;
  strong {
    font-weight: inherit;
    text-transform: uppercase;
  }
}

.article-list {
  border-top: 1px solid $color-secondary-dark;
  .article-title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba($color-grey, 0.5);
    background-size: cover;
    background-position: center center;
    font-weight: 900;
    font-size: modular-scale($base-font-size, 6, $base-ratio);
    text-transform: uppercase;
    // filter: #{ 'sepia(1) hue-rotate($color-primary) brightness(0.75) saturate(2.0);' };
    filter: #{ 'brightness(0.75) saturate(1.5);' };

    // background-clip: text;
    // text-fill-color: transparent;
  }

  .article-meta {
    display: block;
    @include span-columns(4 of 4);
    min-height: 5em;
    @include media($mid) {
      @include span-columns(3 of 7);
      @include shift(6 of 7);
      margin-top: 2em;
      position: absolute;
      top: 0;
      // font-size: $font-size-small;
      font-size: $font-size-large;
      // background: $color-secondary-lighter;
      padding: modular-scale($base-font-size, 0, $base-ratio);
      z-index: 2;
    }
  }
}

.article-item {
  position: relative;
  display: block;
  border-bottom: 1px solid $color-secondary-dark;
}

.article-meta {
  font-style: italic;
  // margin-top: $base-line-height * 1rem;
  // margin-bottom: $base-line-height * 1.25rem;
  @media (min-width: $max-width * 2.33) {
    height: 0;
    font-size: $font-size-small;
    @include span-columns(2 of 7);
    @include shift(7);
  }
  @media (min-width: $max-width * 3) {
    @include span-columns(3 of 7);
  }
}

.article-author {
  display: block;
  img {
    display: block;
    max-width: auto;
    width: 50%;
    border-radius: $base-border-radius;
  }
}

.article-time {
  display: block;
}
