// If you don’t know what to do,
// it goes here. We’ll figure it
// out later.™

// article {
//   blockquote {
//     font-size: 1.25em;
//     border-left: 0.25em solid;
//     padding-left: 2em;
//     p:last-child {
//       strong:only-child {
//         font-style: italic;
//         font-weight: 400;
//         font-family: $font-family-serif;
//         color: $color-grey-dark;
//         display: block;
//         &:before {
//           content: "\2014";
//         }
//         a {
//           display: inline-block;
//         }
//       }
//     }
//   }
// }

figure {
  clear: left; // Blockquotes need to have their own clears instead
}


// Unnameds spread thing
//
// No styleguide reference.
@include media($wide) {
  .figure--spread {
    margin: 0 0 $base-line-height * 1em 0; // Need to move figcaptions margin here
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    // Instead, might have to make this 100%
    // cropped as a square by flexbox
    // And then z-index layer figcaption
    // overtop of it on the left or right
    // (But at some point that’s basically overlay)
    img {
      max-width: 50%;
      box-flex: 1;
      flex: 1 1 50%;
      // align-self: flex-start;
    }
    figcaption {
      max-width: 50%;
      flex: 1 1 50%;
      margin: 0;
      color: $color-primary-dark;
      font-family: $font-family-display;
      padding: $base-line-height * 0.5em;
      padding-left: $gutter;
      font-style: normal;
      font-weight: 600;
      font-size: $font-size-large;
      // background-color: $color-primary-lighter;
      // @include span-columns(3.5 of 7);
      &:before {
        display: none;
      }

    }
  }
}
//
// @include media($mid) {
//   .figure--spread {
//     margin: 0 0 $base-line-height * 1em 0; // Need to move figcaptions margin here
//     padding: 0;
//     display: flex;
//     height: 100%;
//     align-items: center;
//     justify-content: center;
//     flex-direction: row;
//     .spread-container { // Change to full list
//       display: flex;
//       width: 100vmin;
//       height: 100vmin;
//       overflow: hidden;
//       position: relative;
//       img {
//         position: relative;
//         display: block;
//         width: 100%;
//         height: auto;
//         outline: 1px solid red;
//       }
//     }
//     figcaption {
//       display: none;
//       // position: absolute;
//     }
//   }
// }

@include media($mid) {
  q:first-child {
    margin-left: -0.5em;
  }
}

.header {
  margin-bottom: 3em;
  p {
    margin-top: 1em;
  }
}

// Nav
// ===

// Nav
// ===============

.nav {
  position: relative;
  transition: none;
  font-family: $font-family-sans;
  text-align: center;
  @include media($mid) {
    font-size: 0.8em;
  }
}

.nav--main {
  .nav-item {
    display: none;
    visibility: hidden;
    @include media($mid) {
      display: inline-block;
      visibility: visible;
      text-align: center;
    }
  }
}

.nav--sidebar {
  text-align: left;
  margin-bottom: $base-line-height * 3em;
  .nav-list {
    border-radius: $base-border-radius;
    float: none;
    margin-left: 0;
    padding-left: 0;
    border: 1px solid darken($color-grey-lighter, 10%);
    background: $color-grey-lighter;
  }
  .nav-item {
    text-align: left;
    display: block;
    width: 100%;
  }
  .nav-link {
    padding: 0;
  }
  @include media($mid) {
    float: none;
  }
  @include media($wide) {
    .nav-list {
      border: 0;
      background: transparent;
    }
  }
}

.nav--panel {
  .nav-item {
    border-bottom: 1px solid $fig-border-color;
    &:last-of-type {
      border-bottom: none;
    }
  }
  .nav-link {
    padding: 1em;
  }
}

.nav-list {
  display: block;
  list-style: none;
  @include media($mid) {
    padding: 0;
    margin: 0;
    float: right;
    text-align: right;
    display: block;
    position: relative;
  }
}

.nav-item {
  display: block;
  @include media($mid) {
    display: inline-block;
    visibility: visible;
    text-align: center;
  }
}

.nav-item--skip {
  width: 0;
  height: 0;
  overflow: hidden;
  &:focus {
    width: auto;
    height: auto;
    overflow: visible;
  }
}

.nav-link,
.nav-link:visited {
  display: block;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  .knockout & {
    color: $color-background;
  }
  &:hover,
  &:active {
    color: $color-primary;
  }
}

.nav-toggle {
  // @extend .is-visible
  display: block;
  visibility: visible;
  text-align: right;
  @include media($mid) {
    // @extend .is-hidden;
    display: none;
    visibility: hidden;
  }
}

.nav-link {
  @include media($mid) {
    padding: 1em 0.5em 0.5em 0.5em;
  }
  @include media($wide) {
    padding: 1em 0.5em;
  }
}

.nav--footer {
  .nav-list {
    margin-top: 3em;
    text-align: center;
  }
  &:target {
    transition: background 0.25s ease, color 0.25s ease;
    background: $color-grey;
    border-radius: $base-border-radius;
    a, a:visited {
      color: $color-background;
    }
    @include media($mid) {
      background: inherit;
      a, a:visited {
        color: $color-primary;
      }
    }
  }
}
